html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.o-10 {
    opacity: .10;
}

.o-25 {
    opacity: .25;
}

.o-50 {
    opacity: .50;
}

.o-75 {
    opacity: .75;
}

.o-90 {
    opacity: .90;
}

.o-100 {
    opacity: 100;
}

.kevinamrulloh {
    color: white;
}

.kevinamrulloh:hover {
    color: white!important;
}

a:hover {
    text-decoration: none!important;
}

.img-spotify {
    height: 60rem;
    transform: rotate(45deg);
    transform: translateX(-1000px);
    z-index: -99;
}