html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.o-10 {
    opacity: .10;
}

.o-25 {
    opacity: .25;
}

.o-50 {
    opacity: .50;
}

.o-75 {
    opacity: .75;
}

.o-90 {
    opacity: .90;
}

.o-100 {
    opacity: 1;
}